@font-face {
    font-family: myFont;
    src: url(./Fonts/myFont4.ttf);
}

@font-face {
    font-family: myRgb;
    src: url(./Fonts/rgb3.ttf);
}

@font-face {
    font-family: myNew;
    src: url(./Fonts/new1.otf);
}

@font-face {
    font-family: myLevel;
    src: url(./Fonts/new3.otf);
}

@font-face {
    font-family: myPopup;
    src: url(./Fonts/new5.otf);
}

@font-face {
    font-family: myBtn;
    src: url(./Fonts/new2.otf);
}

@font-face {
    font-family: myMsg;
    src: url(./Fonts/msg1.otf);
}

@font-face {
    font-family: myLvl;
    src: url(./Fonts/Level2.ttf);
}

body {
    background-color: black;
}

#Heading {
    background-color: rgb(0, 191, 255);
    color: white;
}

#Heading1 {
    font-family: myFont;
}

#Heading2 {
    font-family: myRgb;
}

#Heading3 {
    font-family: myFont;
}

#Options {
    background-color: white;
}

#Boxes {
    background-color: black;
    position: relative;
}

#InnerBox {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border: none;
}

#Option1 {
    color: rgb(22, 129, 124);
    background-color: transparent;
    font-family: myNew;
}

#Option3 {
    color: rgb(56, 151, 56);
    background-color: transparent;
    font-family: myLevel;
    display: block;
}

#DOption3 {
    color: rgb(56, 151, 56);
    font-family: myLevel;
    background-color: transparent;
}

#Option4 {
    color: white;
    background-color: rgb(187, 187, 63);
    font-family: myLevel;
    display: block;
}

#DOption4 {
    color: white;
    background-color: rgb(187, 187, 63);
    font-family: myLevel;
}

#Option5 {
    color: rgb(201, 49, 49);
    background-color: transparent;
    font-family: myLevel;
    display: block;
}

#DOption5 {
    color: rgb(201, 49, 49);
    font-family: myLevel;
    background-color: transparent;
}

#Option2 {
    visibility: hidden;
    font-family: myMsg;
}

#Popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 10;
    background-image: url(./Images/PopupBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#PopupMsg {
    font-weight: bold;
    color: black;
    font-family: myPopup;
}

#RestartBtn {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-family: myBtn;
}

#RestartBtn:hover {
    cursor: pointer;
}

#CancelBtn {
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: myBtn;
}

#CancelBtn:hover {
    cursor: pointer;
}

#Dropdown {
    position: absolute;
    display: none;
}

#Dropdown-btn {
    outline: none;
    border: none;
    font-family: myLvl;
    color: rgb(22, 129, 124);
}

#Level {
    position: relative;
}

#DropMenu {
    background-color: rgb(49, 79, 134);
}

@media only screen and (max-width: 350px) {
    #RestartBtn {
        font-size: 13px;
    }

    #CancelBtn {
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px) {
    #Option1 {
        display: flex;
        justify-content: start;
    } 
    
    #Level {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    #Option1 {
        font-size: 13px;
    }

    #Option2 {
        font-size: 13px;
    }

    #DOption3 {
        font-size: 13px;
    }

    #DOption4 {
        font-size: 13px;
    }

    #DOption5 {
        font-size: 13px;
    }

    #Dropdown-btn {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    #Dropdown {
        display: block;
    }  

    #Option3 {
        display: none;
    }
    
    #Option4 {
        display: none;
    }
    
    #Option5 {
        display: none;
    }
}

